### Essel-Biney Nana Benyin E.N
---

# TASK 1
---

## Importing Libraries :

In [46]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

##

## Loading the training data :

In [47]:
df = pd.read_csv('train.csv')
df.head(10)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000
6,7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,307000
7,8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Shed,350,11,2009,WD,Normal,200000
8,9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2008,WD,Abnorml,129900
9,10,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,1,2008,WD,Normal,118000

In [48]:
df = df[['GrLivArea', 'FullBath', 'BedroomAbvGr', 'SalePrice']]
df

      GrLivArea  FullBath  BedroomAbvGr  SalePrice
0          1710         2             3     208500
1          1262         2             3     181500
2          1786         2             3     223500
3          1717         1             3     140000
4          2198         2             4     250000
...         ...       ...           ...        ...
1455       1647         2             3     175000
1456       2073         2             3     210000
1457       2340         2             4     266500
1458       1078         1             2     142125
1459       1256         1             3     147500

[1460 rows x 4 columns]

##

## Data Cleaning :

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   GrLivArea     1460 non-null   int64
 1   FullBath      1460 non-null   int64
 2   BedroomAbvGr  1460 non-null   int64
 3   SalePrice     1460 non-null   int64
dtypes: int64(4)
memory usage: 45.8 KB

##

## Preparing the Data :

#### DEFINING FEATURES AND TARGET

In [50]:
X = df[['GrLivArea', 'BedroomAbvGr', 'FullBath']]
y = df['SalePrice']

#### SPLITING INTO VALIDATION AND TRAINING DATA

In [51]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.2, random_state=42)

##

## Training the Model :

In [52]:
lr_model = LinearRegression()
lr_model.fit(X_train, y_train)

LinearRegression()

#### MAKING PREDICTIONS

In [53]:
lr_val_predictions = lr_model.predict(X_valid)

#### CALCULATING THE ERROR

In [54]:
lr_val_mse = mean_squared_error(y_valid, lr_val_predictions)
print("Validation MSE for Linear Regression Model: {:,.0f}".format(lr_val_mse))

lr_val_r2 = r2_score(y_valid, lr_val_predictions)
print(f'RÂ² Score: {lr_val_r2}')

Validation MSE for Linear Regression Model: 2,806,426,667
RÂ² Score: 0.6341189942328371

##

## Making Predictions on Test Data :

In [55]:
test_data = pd.read_csv('test.csv')
X_test = test_data[['GrLivArea', 'BedroomAbvGr', 'FullBath']]
predictions = lr_model.predict(X_test)
output = pd.DataFrame({'Id': test_data.Id, 'SalePrice': predictions})
output.to_csv('submission.csv', index=False)

In [56]:
ds = pd.read_csv('submission.csv')
ds

        Id      SalePrice
0     1461  122173.313104
1     1462  140561.538683
2     1463  201783.754896
3     1464  199183.097221
4     1465  192133.739106
...    ...            ...
1454  2915  115907.303921
1455  2916  115907.303921
1456  2917  102983.611090
1457  2918  103216.094466
1458  2919  240377.514797

[1459 rows x 2 columns]